/* */
/* Padding does not affect outer box sice */
/* src: http://learnlayout.com/box-sizing.html*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.background {
	background-image: url("/img/back.jpg");
	background-position: center;
	background-size: cover;
	background-color: #cccccc;
	position:absolute;
	padding-top:5.2rem;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -2;
}

.main-title {
	margin: 2rem;
	color: #70902D;
}

pre {
	background: #F6F6F6;
}

pre > code {
	background: #BEC3CC;
}

.caption {
	text-align: center;
}

.background#notfound {
	background-image: url("/img/scotty_calling.jpg");
}

.page {
	padding-top:5.2rem;
	height: 100vh;
}

.spacer-block {
	height: 5.2rem;
	display: block;
	position: relative;
	background: #F2F2F2;
}
.block {
	display: block;
	position: relative;
	background: #F2F2F2;
}
.article {
	display: block;
	position: relative;
	padding: 5.2rem 10rem;
	max-width: 80rem;
	min-height: 100vh;
	margin: 0 auto;
	background: #F6F6F6;
}

.content {
	position: absolute;
	max-width: 500px;
	height: 135px;
	margin: auto;
	padding: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #00000077;
}

.content#notfound {
	height:300px;
}

.navigation {
	background: #0404049c;
	border-bottom: .1rem solid #00000099;
	display: block;
	height: 5.2rem;
	left: 0;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navigation.past-main {
	background: #F2F2F2;
}

.navigation .navigation-title, .navigation .navigation-title > h1 {
	display: inline;
	font-size: 1.6rem;
	line-height: 5.2rem;
	padding: 0;
	text-decoration: none;
}

.navigation > ul > li > a, .footer > ul > li > a {
	display: inline;
	font-size: 1.6rem;
	line-height: 5.2rem;
	padding: 0;
	text-decoration: none;
}

.navigation > ul {
	list-style: none;
	margin-bottom: 0;
	margin-right: 10rem;
}

.footer > ul {
	display: table;
	position: relative;
	bottom: 0;
	list-style: none;
	margin: auto auto;
}

.navigation > ul > li , .footer > ul > li {
	margin-bottom: 0;
	margin-left: 2.5rem;
	position: relative;
	display: table-cell;
}

.logo {
	position: relative;
	height: 100%;
	padding: 0 2rem;
}

.octocat {
	border: 0;
	color: #f4f5f6;
	fill: #2A64A8;
	height: 5.2rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 5.2rem;
	z-index: 1;
}

.octocat .octocat-arm, .octocat .octocat-body {
	fill: #000000;
}

.octocat:hover .octocat-arm {
	animation:b .56s infinite;
	transform-origin:13rem 10.6rem
}

@keyframes b {
	0%,
	50% {
		transform:rotate(0)
	}
	25%,
	75% {
		transform:rotate(-25deg)
	}
}

input {
	line-height: 2em;
	width: 120px;
}

input#bday {
	width:50%;
	min-width: 110px;
}

.vcenter {
	vertical-align: middle;
}


.datepicker-panel > ul > li.disabled, .datepicker-panel > ul > li.disabled:hover {
	background-color: #fff;
	color: #000;
	cursor: default;
}

.datepicker-container {
	color: #000;
	direction: ltr;
	font-size: 12px;
	line-height: 30px;
}

.button-container {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
}

#btnSubmit {
	width: 47%;
}

#txtSubmit {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	top: 0;
}

#imgLoading {
	display: none;
	position: absolute;
	top: 0;
	line-height: 3.8rem;
	width: 100%
	margin: 0 auto;
	font-size: large;
	left: 40%;
}

.corner{
	height:100%;
	position:absolute;
	top:0;
	right:0
}

img.inline {
	height: 1.2rem;
	display: inline;
}

@media (max-width: 416px) {
	.content {
		height: 192px;
	}
	.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
		width: 100px;
		padding: 0;
	}
	input#bday {
	}
	.article {
		padding: 5.2rem 1rem;
	}
	.navigation > ul {
		margin-right: 7rem;
	}
	.logo {
		padding: 0 0.2rem;
	}
}



